.App {
  text-align: center;
  display: flex;
  place-content: center;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container input {
  max-width: 130px;
  margin: 20px auto;
}

